<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Datos previos de paciente</h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Paciente: {{ nombre }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Sexo: {{ sexo }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Fecha de nacimiento: {{ fecha_nac }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Escolaridad: {{ escolaridad }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Estado civil: {{ est_civil }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Previsión: {{ prevision }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Edad: {{ edad }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Estatura: {{ estatura }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>IMC (kg/mt2): {{ imc }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Estado nutricional: {{ estado_nutricional }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Peso: {{ peso }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Ocupación: {{ ocupacion }}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Motivo de la consulta: {{ motivo }}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>