<div class="row">
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Macronutrientes presentes en la receta</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <label>PROTEÍNAS</label>
                <table class="table table-hover">
                    <tr>
                        <th>Tipo proteína</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                    </tr>
                    <tr>
                        <td>proteina 1</td>
                        <td>10</td>
                        <td>mg</td>
                    </tr>
                    <tr>
                        <td>proteina 2</td>
                        <td>20</td>
                        <td>mg</td>
                    </tr>
                </table>
            </div>
            <div class="box-body table-responsive">
                <label>LÍPIDOS</label>
                <table class="table table-hover">
                    <tr>
                        <th>Tipo lípido</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                    </tr>
                    <tr>
                        <td>lípido 1</td>
                        <td>10</td>
                        <td>mg</td>
                    </tr>
                    <tr>
                        <td>lípido 2</td>
                        <td>20</td>
                        <td>mg</td>
                    </tr>
                </table>
            </div>
            <div class="box-body table-responsive">
                <label>HIDRATOS DE CARBONO</label>
                <table class="table table-hover">
                    <tr>
                        <th>Tipo Hidrato de carbono</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                    </tr>
                    <tr>
                        <td>HdC 1</td>
                        <td>10</td>
                        <td>mg</td>
                    </tr>
                    <tr>
                        <td>HdC 2</td>
                        <td>20</td>
                        <td>mg</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Micronutrientes presentes en la receta</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <label>VITAMINAS</label>
                <table class="table table-hover">
                    <tr>
                        <th>Tipo vitamina</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                    </tr>
                    <tr>
                        <td>vitamina 1</td>
                        <td>10</td>
                        <td>mg</td>
                    </tr>
                    <tr>
                        <td>vitamina 2</td>
                        <td>20</td>
                        <td>mg</td>
                    </tr>
                </table>
            </div>
            <div class="box-body table-responsive">
                <label>MINERALES</label>
                <table class="table table-hover">
                    <tr>
                        <th>Tipo mineral</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                    </tr>
                    <tr>
                        <td>mineral 1</td>
                        <td>10</td>
                        <td>mg</td>
                    </tr>
                    <tr>
                        <td>mineral 2</td>
                        <td>20</td>
                        <td>mg</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.box -->
    
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Otros datos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Ingrediente</th>
                        <th>Precio</th>
                        <th>unidad</th>
                        <th>es perecible</th>
                    </tr>
                    <tr>
                        <td>Ingrediente 1</td>
                        <td>$1000</td>
                        <td>mg</td>
                        <td>si</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>