{% extends '_base.html' %} {% block content %}
<h1>&nbsp;<i class="glyphicon glyphicon-check"></i>&nbsp;&nbsp;&nbsp;Registro de Minutas</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Ingresar nueva minuta</h3>
            </div>
            <div class="box-body">
                <form action='.' method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Nombre minuta</label> {{ minutaForm.nombre }}
                            </div>
                            <div class="form-group">
                                <label>Descripción</label> {{ minutaForm.descripcion }}
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">Guardar minuta</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}